pip>=23.1.2
pandas>=1.5.3
xmltodict>=0.13.0
pikepdf>=8.2.1
pypdf2>=3.0.1
pydantic>=2.0.3
fastapi>=0.100.0
gunicorn>=21.2.0
uvicorn>=0.23.1
python-multipart>=0.0.6
pydantic-settings>=2.0.2
pyngrok>=6.0.0
requests>=2.31.0
